/*
	_content.css
*/


.bg-shadow{
	pointer-events: none;
}

figcaption{
	font-weight: 600;
	margin-top: 10px;
	font-size: em(14);
	line-height: 135%;
	margin-bottom: 10px;
	text-transform: uppercase;
}

main{
	overflow: hidden;
	p{
		line-height: 160%;
	}
}




#page{

}



.page-content{
	height: 100vh;
	min-width: 100%;
	/*min-width: 1900px;*/
	display: flex; 
	align-items: center;
	margin: auto;
	background-image: url("../img/bg/bg.jpg");
	justify-content: center;
}
.page-content-size{
	//max-width: 1920px;
	min-width: 1920px;
	//width: 1920px;
}


//content
//page-wedding
.page-wedding{
	background-position: center;
	background-size: cover;
	.page-wrapper{
		height: 1080px;
		//border: 1px solid black;
		position: relative;

	}
}
.tofu-box{
	&.desc{
		padding: 60px 80px;
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		height: 650px;
		&>div{
			width: 100%;
		}
	}
	&.imgs{
		position: absolute;
		//height: 680px;
		top: 70px;
		background-color: white;
		right: 70px;
		width: 860px;
		.img-wrapper{
			border: 30px solid white;
			border-radius: 40px;
			background-color: white;
			position: relative;
			overflow: hidden;
		}
		.img{
			border-radius: 33px;
			height: 700px;
			background-size: contain;
			z-index: 1;
			position: relative;
		}
		.mirror{
			position: absolute;
			width: 100%;
			top: 0;
			z-index: 0;
			left: 0;
			filter: blur(20px);
			transform: scale(1.5);
		}
	}
}
.shell{
	padding: 50px 50px;
	position: relative;
	height: 100%;
	.logo-content{
		position: absolute;
		float: right;
		right: 90px;
		bottom: 50px;
	}
}
.description{
	width: 870px;
	top: 0px;
	position: relative;
	.cap-content{
		color: $color-2;
		text-align: center;
		font-weight: 600;
		font-size: 52px;
		i{
			b{
				font-size: 62px;
				font-weight: 800;
				font-style: normal;
			}
		}
		big{
			font-size: 102px;
			b{
				color: #520808;
				font-weight: 800;
			}
		}
	}
	.desc-content{
		margin-top: 30px;
		background-color: $color-1;
		background-image: url('../img/bg/bg-desc.jpg');
		background-size: cover;
		width: 940px;
		color: white;
		font-family: $font-family-3;
		padding: 10px 50px;
		text-align: center;
		font-size: 33px;
		font-weight: 600;
		border-radius: 30px 0 0 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 420px;
		p{
			white-space: pre-wrap;
		}
	}
	.main-logo{
		text-align: center;
		margin-top: 25px;
	}
}
.tofu-box{
	box-shadow: 0 0 60px -8px rgba(black, 0.3);
	border-radius: 40px;
	display: inline-block;
	max-width: 910px;
}
.person-info{
	display: flex;
	background-color: $color-1;
	text-align: center;
	min-height: 130px;
	position: absolute;
	color: white;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	padding: 10px 15px;
	width: 85%;
	justify-content: center;
	border-radius: 0 0 30px 30px;
	align-items: center;
}
.person-img{
	img{
		border-radius: 50%;
		box-shadow: 0 0 20px -5px rgba(black, 0.5);
		border: 7px solid white;
		max-width: 100px;
	}
}
.person-name{
	font-family: $font-family-2;
	font-size: em(44);
	line-height: 130%;
	font-weight: 600;
	margin-left: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.person-tags{
	text-align: center;
	margin-top: 40px;
	li{
		list-style: none;
		color: $wedding-color-1;
		font-size: em(30);
		margin-left: 5px;
		margin-right: 5px;
		display: inline-block;
	}
}
.person-text{
	text-align: center;
	p{
		font-size: em(28);
		height: 210px;
		overflow: hidden;
	}
}

//slidermain-items
.slidermain-items{
	.flickity-slider{
		left: 0 !important;
		transform: none !important;
	}
	figure{
		left: 0 !important;
		width: 100%;
		.img-content{
			opacity: 0;
			transition: all 1s ease;
		}

		&.is-selected{
			.img-content{
				opacity: 1;
			}
		}
	}
}


.perspective-slides{
	.tofu-box.imgs{
		background-color: transparent;
		box-shadow: none;
	}
	.slidermain-items{
		.flickity-viewport{
			overflow: visible;
		}
		figure{
			.img-content{
				perspective-origin: center;
    		//perspective: 400px;
    		perspective: 100vw;
    		transform: translateX(50%);
    		transition: all 3s ease;
    		opacity: 1;
    		.img{
    		}
			}
			.img-wrapper{
    		box-shadow: 0 0 60px -8px rgba(black, 0.3);
				transition: all 3s ease;
				transform: rotateY(90deg) scale(0.84);
			}
			&.is-selected{
				.img-content{
					transform: rotateY(0);		
				}
				.img-wrapper{
					transform: rotateY(0);
				}
			}
		}
	}
}